body {
  background-color: #ffff;
  margin: 1px;
  font-family: "Roboto", open-sans;
}
.resume-container {
  display: flex;
  flex-direction: row;
  height: auto;
}
.left-view {
  flex: 30%;
  background-color: #1c2223d9;
  /* background-color: #068d9ad9; */
  margin: 2px;
  border-radius: 10px;
  padding: 1%;
  color: #d2d0cd;
}
.right-view {
    flex: 70%;
    background-color: #e6e6e661;
    margin: 2px;
    border-radius: 10px;
    padding: 1%;
    color: #484444e6;
}
.image-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 25px;
}
.image-hr {
  flex: 17.5%;
  background: black;
  margin: 0px;
  box-shadow: none;
  border-color: black;
}
hr {
  background: rgb(195 192 192);
  margin-top: 2px;
  margin-bottom: 2px;
  border-color: rgb(195 192 192);
}
.image-box {
  flex: 65%;
  height: 14rem;
  width: 14rem;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 2px solid #252222;
}
.info-card {
  margin-top: 3%;
}
.info-heading {
  font-size: 2.1vw;
}
.info-contents {
  font-size: 1.7vw;
  margin-top: 5%;
}
.info-content-data {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.icon-area {
  flex: 8;
}
.icon-info-area {
  flex: 38;
}
.skill-container {
  margin-top: 3%;
}
progress {
  width: 90%;
  height: 1vw;
}
.hobbies-wrap {
  flex-wrap: wrap;
}
.download-area{
    display: flex;
    justify-content: center;
}
.pdf-size{
    font-size: 3vw !important;
    cursor: pointer;
}
.head-text-style{
  color: #252222;
}
.experience-content{
  margin-top: 2px;
  margin-bottom: 2px;
}
.card-content{
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 3%;
  height: fit-content;
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 26%);
}
.company-name{
  font-size: 12px;
}

a {
  color: #d2d0cd;
}
.intro-text-size{
  font-size: 1.5vw;
}
.next {
  margin-top: 10%;
}
.subheding{
  font-size: 2vw;
}
.knowledge-area{
  display: flex;
  flex-direction: row;
}
.knowledge-left{
  flex-direction: column;
  flex: 1;
  font-size: 1.4vw;
  margin: 1%;
  flex-wrap: wrap;
}
.knowledge-left > div {
  margin: 1%;
}
.knowledge-left > div > i {
  margin-right: 3%;
}
.knowledge-heading{
  font-size: 1.6vw;
  font-weight: bold;
}
@media (max-width: 768px) {
  .image-box {
    height: 4rem;
    width: 4rem;
  }
  .resume-container {
    height: 100%;
  }
  .head-text-style{
    font-size: 3vh;;
  }
  .knowledge-heading{
    font-size: 2vw;
  }
  .knowledge-left{
    font-size: 1.8vw;

  }
}
