
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/intro-card-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>
</head>
<body>
    <div class="resume-container">
        <div  class="left-view">
        <div class="image-container">
            <hr class="image-hr">
            <img  class="image-box" src="../image/convertedImg.png">
            <hr class="image-hr">
        </div>
        <div class="info-card">
            <div class="info-heading">
                Contacts
            </div>
            <hr>
            <div class="info-contents">
                <div class="info-content-data">
                    <div class="icon-area fa fa-envelope"></div>
                    <div class="icon-info-area">
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=mailvivek71193@gmail.com" target="_blank">mailvivek71193@gmail.com</a>
                    </div>
                </div> 
                <div class="info-content-data">
                    <div class="icon-area fa fa-phone"></div>
                    <div class="icon-info-area">
                        +91-8652457348
                    </div>
                </div>
                <div class="info-content-data">
                    <div class="icon-area fa fa-birthday-cake"></div>
                    <div class="icon-info-area">
                        07-Nov-1993
                    </div>
                </div>
                <div class="info-content-data">
                    <div class="icon-area fa fa-building"></div>
                    <div class="icon-info-area">
                        #76 5th Cross Road,
                        Banashankri, 3rd Stage,
                        Bangalore-560085
                    </div>
                </div>
            </div>
        </div>
        <div class="info-card next">
            <div class="info-heading">
                Skills
            </div>
            <hr>
            <div class="info-contents">
                <div class="skill-container">
                    <div>Angular</div>
                    <progress value="8.5" max="10"></progress>
                </div>
                <div class="skill-container">
                    <div>JavaScript</div>
                    <progress value="7" max="10"></progress>
                </div>
                <div class="skill-container">
                    <div>HTML</div>
                    <progress value="6.8" max="10"></progress>
                </div>
                <div class="skill-container">
                    <div>CSS/SCSS</div>
                    <progress value="7.5" max="10"></progress>
                </div>
                <div class="skill-container">
                    <div>Redux</div>
                    <progress value="8.5" max="10"></progress>
                </div>
                <div class="skill-container">
                    <div>GraphQL</div>
                    <progress value="8.5" max="10"></progress>
                </div>
                <div class="skill-container">
                    <div>ES-5/6</div>
                    <progress value="7" max="10"></progress>
                </div>

            </div>
        </div>
        <div class="info-card next info-contents">
            <div class="info-heading ">
                Hobbies
            </div>
            <hr>
            <div class="info-content-data">
                <div class="icon-area fas fa-swimmer"></div>
                <div class="icon-info-area">
                    Swimming
                </div>
                <div class="icon-area fas fa-basketball-ball"></div>
                <div class="icon-info-area">
                     Basketball
                </div>
            </div>
            <div class="info-content-data">
                <div class="icon-area fas fa-gamepad"></div>
                <div class="icon-info-area">
                    Video Game
                </div>
                <div class="icon-area fas fa-video"></div>
                <div class="icon-info-area">
                    Video Editing
                </div>
            </div>
            
            
        </div>
        <div class="next">
            <div class="info-heading">
                PDF Files
            </div>
            <hr>
            <div class="info-contents">
                <div class="skill-container" style="text-align: center;">
                    <a href="../files/resume/Resume_VIVEK_5.5YR_web_developer(Jul21).pdf" download="Resume_VIVEK">
                        <div class="pdf-size fa fa-file-pdf-o"></div>
                    </a>
                    <div>Download PDF Resume</div>
                </div>
            </div>    
        </div>
        </div>
        <div  class="right-view">
            <div></div>
            <h2 class="head-text-style">VIVEK KUMAR</h2>
            <h4 class="subheding">SENIOR SOFTWARE DEVELOPER</h4>
            <p class="intro-text-size">Technically versatile developer with 5+ years of experience 
            in <b>providing digital solution </b>for given business requirement. Being a developer I look 
        forward to learn and work with any technical stack to simplify digital needs. I have mostly used Angular 
    framework for making web application throughout my carrier   </p>
    <div class="experience-content">
        <h4 class="subheding"><i class="fad fa-search"></i>Knowledge</h4>
        <div class=card-content>
            <div class="knowledge-heading">
                With ongoing development process i have came across several features and utilities. 
            </div>
            <div class="knowledge-area">
                <div class=knowledge-left>
                    <div><i class="far fa-sitemap"></i>NRWL-NX architecture</div>
                    <div><i class="fas fa-phone-laptop"></i>Progressive Web Application (PWA)</div>
                    <div><i class="fad fa-vial"></i>Unit testing</div>
                    <div><i class="fas fa-lock"></i>Crypto Js </div>
                    <div><i class="fas fa-code-branch"></i>SVN repository </div>
                </div>
                <div class=knowledge-left>
                    <div><i class="far fa-sitemap"></i>MVP Pattern</div>
                    <div><i class="fas fa-sync-alt"></i>Agile</div>
                    <div><i class="fas fa-brackets-curly"></i>RESTful API </div>
                    <div><i class="fab fa-google"></i>Google Analytics Service </div>
                    <div><i class="fab fa-github"></i>GitHub/Gitlab</div>
                </div>
            </div>     
        </div>
    </div>
    <div class="experience-content">
        <h4 class="subheding"><i class="fas fa-laptop-code"></i>Experience</h4>
        <div class=card-content>
            <div class="company-name">
               <b> Senior Software Engineer - CSS Corp. <b>
                <div><b>Oct-2020-Till Date<b></div>
            </div>
            <div class=company-desc>
                <b>Project Undertaken</b>

            </div>
            

        </div>
        <div class=card-content>
            hi
        </div>
    </div>
    <div class="experience-content">
        <h4 class="subheding"><i class="fas fa-user-graduate"></i>Education</h4>
        <div class=card-content>
            hi
        </div>
        <div class=card-content>
            hi
        </div>
    </div>

        </div>
    </div>
</body>
</html>